@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    margin: 0 auto;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}